<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main">

    {{>header}}
    
    <br>
    
    <form>
        <input placeholder="Location e.g. Seattle">
        <button>Search</button>
    </form>

    <br>
    
    <p id="msgLocation">Location: {{location}}</p>
    <p id="msgTemperature">Temperature: {{temperature}}</p>
    <p id="msgLatitude">Latitude: {{lat}}</p>
    <p id="msgLongitude">Longitude: {{lon}}</p>
    <p id="msgWeather">Weather: {{weather}}</p>

    <p id="msgSummary" class="successColor smallfont">{{message}}</p>
    <p id="msgError" class="errorColor smallfont">{{error}}</p>

    </div>

    <script src="/css/js/app.js"></script>
    
</body>

<p>{{>footer}}</p>

</html>